@charset "UTF-8";
html {
  font-size: 100%;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

body {
  width: 100%;
  max-width: 1240px;
  height: 1320px;
  margin: 0 auto;
  display: flex;
  background-color: white;
}
/*一番左の部分：左側の花飾り*/
.left_flower {
  width: 5%;
  z-index: 100;
}
.left_flower img {
  max-width: 300%;
}
/*nav部分：始まり*/
nav {
  width: 32%;
  color: white;
  font-size: 20px;
  position: relative;
}

/*nav部分：左側の青い背景*/
.left_blue_ribbon {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(93, 145, 218, 1);
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 18%);
}

/*nav部分：店の名前*/
.title {
  position: absolute;
  width: 100%;
  top: 80px;
  font-weight: bold;
  z-index: 150;
}
.title a {
  color: white;
  text-decoration: none;
}
.title_img {
  display: block;
  width: 100%;
  max-width: 354px;
  margin: 0 auto;
}
.title_img_small {
  display: none;
}
.title_text {
  text-align: right;
  padding: 6px 10px;
}

/*nav部分：詳しいリスト*/
.contents {
  width: 100%;
  position: absolute;
  top: 430px;
}
.contents a {
  color: white;
  text-decoration: none;
}

.list_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px 10px 40%;
  margin: 0;
}
.list_title h2 {
  margin: 0;
  font-size: 24px;
}
.list_title i {
  font-weight: bolder;
}
.list_detail {
  padding: 10px 0;
  margin: 0;
  background-color: rgba(106, 133, 201, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
  display: none;
}
.list_detail li {
  padding: 0;
  margin: 0 0 4px 45%;
  list-style: none;
}
.list_detail li i {
  color: white;
  padding: 0 10px 0 0;
}
/*ulリストの開く閉めを表す*/

.plus {
  display: block;
}
.minus {
  display: none;
}

.menu_open ul {
  display: block;
}
.menu_open .list_title {
  background-color: rgba(174, 190, 241, 1);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.menu_open .plus {
  display: none;
}
.menu_open .minus {
  display: block;
}

/*main部分：始まり*/

.main_wraper {
  position: relative;
  width: 63%;
  max-width: 770px;
  padding: 0 30px;
  margin: 0 auto;
}

/*main部分：上の青い背景*/
.right_blue_ribbon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 660px;
  background-color: AEBEF1;
  clip-path: polygon(0 0, 100% 32%, 100% 93%, 0 68%);
  z-index: -200;
}

/*main部分：四つ一般的な機能*/
/* .function_button {
  margin: 90px 44px 60px 27px;
  padding: 0 8px;
} */
.section_wrapper {
  margin-top: 90px;
}
.detail_wrapper {
  margin-top: 20px;
}
.function_button a {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* margin: 10px; */
  margin: 0 2%;
}
.picture_above {
  display: flex;
}
.picture_below {
  display: flex;
}

/*main部分：詳しいニュース*/
/* .news_area {
  margin: 0 44px 30px 27px;
  padding: 0 8px;
} */
.news_detail {
  /* margin: 30px auto; */
  background-color: aliceblue;
  padding: 5%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.news_detail h3 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.news_detail ul {
  display: flex;
  font-size: 12px;
  margin: 0 0 20px 0;
  padding: 0;
}
.news_detail li {
  border-radius: 6px;
  list-style: none;
  margin: 0 5px;
  padding: 2px;
}

.picture_show {
  display: flex;
}
.picture_show img {
  width: 49%;
  margin-right: 2%;
}
.picture_show img:last-child {
  margin-right: 0;
}
.limit {
  background-color: orange;
}
.strawberry {
  background-color: pink;
}
.milk {
  background-color: bisque;
}
.tea {
  background-color: yellowgreen;
}
.pineapple {
  background-color: FBC948;
}
.yuzu {
  background-color: yellow;
}
/*main部分：右側の花飾り*/
.right_flower {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
}

/*main部分：著者名*/
footer {
  text-align: center;
  color: gray;
}
footer i {
  color: lightgray;
}
