body {
  width: 1240px;
  height: 1000px;
  margin: 0 auto;
  display: flex;
  background-color: white;
}

/*一番左の部分：左側の花飾り*/
.left_flower {
  width: 65px;
  z-index: 100;
}

/*nav部分：始まり*/
nav {
  width: 405px;
  color: white;
  font-size: 20px;
}

/*nav部分：上に超える内容を消すマスク*/
.nav_mask {
  position: fixed;
  height: 100px;
  width: 310px;
  background-color: white;
  mask: linear-gradient(white 60%, transparent);
}

/*nav部分：左側の青い背景*/
.left_blue_ribbon {
  position: absolute;
  width: 405px;
  height: 1500px;
  background-color: 5D91DA;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 240px);
  position: fixed;
}

/*nav部分：店の名前*/
.title {
  padding: 80px 10px 0 40px;
  position: fixed;
  font-weight: bold;
  z-index: 150;
}
.title a {
  color: white;
  text-decoration: none;
}
.title_text {
  text-align: right;
  padding: 6px 10px;
}

/*nav部分：詳しいリスト*/
.contents {
  width: 404px;
  padding: 430px 0 0 0;
  position: fixed;
  z-index: 50;
}
.contents h1 {
  font-size: 40px;
  padding: 0 0 0 165px;
  margin: 0 0 20px 0;
}
.contents h2 {
  font-size: 24px;
  padding: 0;
  margin: 0;
}
.contents a {
  color: white;
  text-decoration: none;
}
.contents ul {
  padding: 10px 0;
  margin: 0;
  background-color: 6A85C9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
  display: none;
}
.contents li {
  padding: 0;
  margin: 0 0 4px 180px;
  list-style: none;
}
.contents li i {
  color: white;
  padding: 0 10px 0 0;
}

.list_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px 10px 165px;
  margin: 0;
}
.list_title i {
  font-weight: bolder;
}
/*ulリストの開く閉めを表す*/

.plus {
  display: block;
}
.minus {
  display: none;
}

.menu_open ul {
  display: block;
}
.menu_open .list_title {
  background-color: rgb(174, 190, 241);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.menu_open .plus {
  display: none;
}
.menu_open .minus {
  display: block;
}

/*main部分：始まり*/
main {
  position: relative;
  width: 770px;
}

/*main部分：上の青い背景*/
.right_blue_ribbon {
  position: fixed;
  width: 770px;
  height: 400px;
  background-color: AEBEF1;
  z-index: -200;
}

/*main部分：上に超える内容を消すマスク*/
.top_mask {
  position: fixed;
  height: 100px;
  width: 770px;
  mask: linear-gradient(white 70%, transparent);
}
.blue_box {
  position: fixed;
  height: 100px;
  width: 770px;
  background-color: AEBEF1;

  z-index: 200;
}

/*main部分：詳しいニュース*/
.main_title {
  margin: 30px 0 0 27px;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  position: fixed;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.border_box {
  height: 80px;
  width: 250px;
  margin: 0 27px;
  border-bottom: 2px solid white;
}
.select_text {
  font-size: 18px;
  color: white;
  padding: 10px 0 0 0;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
.select_area {
  margin: 0 27px 10px 27px;
}
.select_detail {
  display: flex;
  justify-content: space-between;
}
.select_box {
  background-color: aliceblue;
  margin: 20px 8px 0px 8px;
  padding: 20px 20px 5px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.select_box h3 {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.select_box img {
  width: 180px;
  height: 150px;
}
.select_button {
  background-color: E7A60C;
  padding: 10px 150px;
  margin: 20px 5px;
  text-align: center;
  color: white;
  font-size: 24px;
}
.limit {
  background-color: orange;
  color: yellow;
}
.strawberry {
  background-color: pink;
}
.milk {
  background-color: bisque;
}
.tea {
  background-color: yellowgreen;
}
.pineapple {
  background-color: FBC948;
}
.yuzu {
  background-color: yellow;
}
.pearl {
  background-color: dimgrey;
  color: white;
}
.dilute {
  background-color: lightblue;
}
/*main部分：右側の花飾り*/
.right_flower {
  position: absolute;
  top: 0;
  left: 530px;
  width: 240px;
  height: 100%;
  overflow: hidden;
  z-index: -100;
}

/*main部分：著者名*/
footer {
  text-align: center;
  color: gray;
}
footer i {
  color: lightgray;
}
